<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <!-- <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Codebro Admin</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>

        <p class="logoAlign">Codebro Admin</p>

        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerLinkActive="activeHighlight" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <a href="https://codebro.tech/" class="cbStampHref" target="_blank">
          <p class="cbStamp">Powered by {{leftBrace}} Codebro {{rightBrace}}</p>
        </a>
        <!-- <ion-button color="danger" size="full" (click)="signOutConfirm()">Sign Out</ion-button> -->
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>